
/* body style */
body { padding-top: 70px;
       font-family: 'Lobster', cursive;
       color: #8ee6be;
       background-attachment: fixed;
       background-image: url('pics/fdl_copy2.png');

}
 {

}
/* .quotes{

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 100em;


  background-color:;
}

.quotes2 {
  margin-top: 5em;
  border: ;
} */
/* being jumbotron style */
.jumbotron { color: #8ee6be;
            background-color: #8ea6e6;
            box-shadow: 6px 5px 5px 5px #8ee6bb; ;
}

.navbar-inverse { background: #8ee6be;
}

.bullhorn {
  padding-right: 20px;
}
/* end jumbotron style */
img {
  width: 350px;
  height: 233px;
}



.navtext {
  color: #8ee6be;
}

hr {
  display: block;

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 100%;
}
/* image hover effect */
img:hover {

  opacity: 0.5;
}

#lightbox {
  overflow: visible;
}

div.text {

  color:black;
  font-size: 20px;
}
/*begin newsletter popup style */
.newsletter {
  display: none;

  border: 6px solid #8ea6e6;
  padding: 2em;
  width: 300px;
  height: 200px;
  text-align: center;
  background: #8ee6bb;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 1;
}
.popup{
;}

.nletter {
  color: #8ea6e6;
}
/* end newsletter popup style */
footer {
  background-color: #8ee6be;
  width: 100%;
  text-align: center;
}
